* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #4d4d4d;
}

/* Navigation styling*/

.navbar {
    padding: 0.8rem;
    color: #fff;
    background: #141414;
}

.navbar-nav li {
    padding-right: 1.3rem;
}

.nav-link {
    font-size: 1.1rem !important;
}

.navbar-toggler {
    border: none;
}

/* Header styling */

header {
    width: 100vw;
    background: black;
    overflow: hidden;
}

.main_kids {
   object-fit: cover;
   opacity: 0.75;
}

.main_headline {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 10px #000;
        font-size: 1.8rem;
        font-family: 'Oswald', sans-serif;
}

.headline_button {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 1px 10px #000;
}

 /* Primary button styling */
.btn-primary {
    text-transform: uppercase;
    background: #f08b1d;
    color: #fff;
    border: none;
    outline: none;
}

.btn-primary:hover {
    background: #ce7311;
    color: #fff;
}

.btn-primary:focus {
    background: #f08b1d;
    box-shadow: none;
  }

/* Padding styling for divs with padding class, and for each main section */
.padding {
    padding-bottom: 2rem;
}

#our_work, #volunteer, #contact_heading {
    padding-bottom: 1rem;
}

/* Back to top button styling */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #4d4d4d;
    color: #fff; 
    cursor: pointer; 
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10px; 
    font-size: 1.5rem;
  }
  
  #myBtn:hover {
    background-color: #969696;

}

/* Our Work section styling */

.welcome {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.card_style {
    width: 90%;
    margin: 0 auto;
}

.card-img-top:hover {
    opacity: 0.8;
    cursor: pointer;
}

#initiatives {
    font-weight: 500;
}

.money_goal {
    font-style: italic;
}

.money_raised {
    color: #f08b1d;
    font-weight: bold;
}

.stats {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fa-dollar-sign {
    color: #09921c;
}

.fa-ambulance {
    color: #df2525;
}

.fa-fish {
    color: #0b91b9;
}

.fa-dollar-sign, .fa-ambulance, .fa-fish {
    font-size: 4rem;
    margin: 1rem;
}

/* Events Section styling */

#events_section {
    background: #ebe9e9;
    padding-top: 2rem;
    padding-bottom: 0.25rem;
    padding-left: 4rem;
    padding-right: 2.75rem;
}

.covid_note {
    font-style: italic;
    font-weight: bold;
    color: #817f7f;
}

.event_listing {
    margin-top: 2rem;
}

.event_dates {
    font-style: italic;
    font-weight: bold;
    color: #817f7f;
}

.event_dates, .event_details, .covid_note {
    margin-left: 4.2rem;
    margin-right: 1rem;
}

.event_kids {
    padding-top: 1.2rem;
}

.fa-calendar-check {
    font-size: 2.2rem;
    color: #f08b1d;
    padding-right: 2rem;
}

/* Volunteer section styling/Parallax */

.parallax {
    background-image: url("/images/kids_on_bicycle.jpg");
    opacity: 0.85;
    min-height: 500px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.volunteer_box {
    background: rgba(255, 255, 255, 0.9);
    width: 90%;
    position: relative;
    top: 4rem;
    margin: 0 auto;
    padding: 1.5rem 3rem 1rem 3rem;
}

.volunteer_text {
    position: relative;
}

.volunteer_button {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    position: relative;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
    background: #f08b1d;
    color: #fff;
}

.jumbotron_text {
    padding-top: 0.5rem;
    font-weight: bold;
}

.jumbotron .btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

.jumbotron .btn-outline-secondary:hover {
    background: #fff;
    color: #f08b1d;
}

/* Contact Us Section styling */

.fa-envelope {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f08b1d;
}

.fa-envelope:hover {
    color: #ce7311;
}

.form_heading {
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

textarea {
    margin-bottom: 1rem;
}

.btn_form {
    display: block;
    margin: 0 auto;
}

/* Code below may be removed 

.alert-form::after {
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}

*/

/* Footer styling */
footer {
    background-color: #232323;
    color: #d3d3d3;
    padding-top: 2em;
    margin-top: 1.5rem;
}

footer h6 {
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: #d3d3d3;
}

footer a:hover {
    text-decoration: none;
    color: #ce7311;
}

.social {
    font-size: 2em;
    color: #d3d3d3;
    padding-right: 0.5em;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.social:hover {
    color: #ce7311;
}

.bottom-footer {
    background-color: #141414;
    color: #969696;
}

/* Responsive breakpoints */

/*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .hidden-mobile {
        display: none;
    }
    
    .main_headline {
        font-size: 155%;
        top: 16%;
    }

    .headline_button {
        bottom: 72%;
    }

    #our_work, #events, #volunteer, #contact_heading {
        font-size: 250%;
    }

    .welcome {
        padding-bottom: 1rem;
    } 

    .money_raised, .card-text, .stats {
        font-size: 110%;
    }

    .btn {
            font-size: 95%;
    }

    .card_style {
        width: 75%;
    }

    .card-container {
        margin-bottom: 2rem;
     }

     .event_details, .covid_note, .event_kids {
         margin: 0;
         padding-right: 0.6rem;
     }

     #events {
         padding-bottom: 0.4rem;
     }

     .event_text {
         padding-top: 1.5rem;
         padding-bottom: 1.5rem;
     }

     .fa-calendar-check {
        padding-right: 0.7rem;
        padding-top: 0.5rem;
     }

    .event_kids {
        padding-top: 0.7rem;
        padding-bottom: 1.4rem;
    } 

    .volunteer_box {
        top: 2rem;
    }

    .footer_info {
        margin-top: 0.75rem;
    }

    .social {
        margin-bottom: 2rem;
    }
} 

/* Small devices (landscape phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main_headline {
        font-size: 2.3rem;
        top: 30%;
    }

    .headline_button {
        bottom: 51%;
    }

    .card-container {
        margin-bottom: 2rem;
     }

    .footer_info {
        margin-top: 0.75rem;
    }
    
    .social {
        margin-bottom: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main_headline {
        font-size: 3rem;
        top: 35%;
    }
    .headline_button {
        bottom: 43%;
    }

    .card-container {
       margin-bottom: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main_headline {
        font-size: 3.5rem;
        top: 40%;
    }
    .headline_button {
        bottom: 37%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main_headline {
        font-size: 4rem;
        top: 50%;
    }
    .headline_button {
        bottom: 25%;
    }
 }